In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
dataset = pd.read_csv(r'Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
x = dataset[['CreditScore', 'Geography','Gender','Age','Tenure',
             'Balance','NumOfProducts','HasCrCard','IsActiveMember']]
y = dataset['Exited']
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember
0,619,France,Female,42,2,0.00,1,1,1
1,608,Spain,Female,41,1,83807.86,1,0,1
2,502,France,Female,42,8,159660.80,3,1,0
3,699,France,Female,39,1,0.00,2,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1
...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0
9996,516,France,Male,35,10,57369.61,1,1,1
9997,709,France,Female,36,7,0.00,1,0,1
9998,772,Germany,Male,42,3,75075.31,2,1,0
9999,792,France,Female,28,4,130142.79,1,1,0

In [4]:
x['Gender'] = dataset['Gender'].map({'Female':0, 'Male': 1})
x['Geography'] = dataset['Geography'].map({'France':0, 'Spain': 1, 'Germany': 2})

<ipython-input-4-a5ff8b17c4c4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['Gender'] = dataset['Gender'].map({'Female':0, 'Male': 1})
<ipython-input-4-a5ff8b17c4c4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['Geography'] = dataset['Geography'].map({'France':0, 'Spain': 1, 'Germany': 2})

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [6]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [7]:
x_train

array([[ 0.35649971, -0.90598864,  0.91324755, ...,  0.80843615,
         0.64920267,  0.97481699],
       [-0.20389777,  1.50315516,  0.91324755, ...,  0.80843615,
         0.64920267,  0.97481699],
       [-0.96147213,  0.29858326,  0.91324755, ..., -0.91668767,
         0.64920267, -1.02583358],
       ...,
       [ 0.86500853, -0.90598864, -1.09499335, ...,  2.53355998,
        -1.54035103, -1.02583358],
       [ 0.15932282, -0.90598864,  0.91324755, ..., -0.91668767,
         0.64920267, -1.02583358],
       [ 0.47065475,  1.50315516,  0.91324755, ..., -0.91668767,
         0.64920267,  0.97481699]])

## Building the Neural Network

In [8]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(6, activation='relu'),    
    tf.keras.layers.Dense(6, activation='relu'),    
    tf.keras.layers.Dense(1, activation='sigmoid') 
])

In [9]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [10]:
model.fit(x_train, y_train, batch_size = 32, epochs = 80)

Epoch 1/80
250/250 [==============================] - 0s 2ms/step - loss: 0.5082 - accuracy: 0.7884
Epoch 2/80
250/250 [==============================] - 0s 2ms/step - loss: 0.4704 - accuracy: 0.7926
Epoch 3/80
250/250 [==============================] - 0s 2ms/step - loss: 0.4556 - accuracy: 0.7928
Epoch 4/80
250/250 [==============================] - 0s 2ms/step - loss: 0.4479 - accuracy: 0.7945
Epoch 5/80
250/250 [==============================] - 0s 2ms/step - loss: 0.4425 - accuracy: 0.7969
Epoch 6/80
250/250 [==============================] - 0s 1ms/step - loss: 0.4392 - accuracy: 0.7994
Epoch 7/80
250/250 [==============================] - 0s 2ms/step - loss: 0.4367 - accuracy: 0.8020
Epoch 8/80
250/250 [==============================] - 0s 2ms/step - loss: 0.4345 - accuracy: 0.8055
Epoch 9/80
250/250 [==============================] - 0s 2ms/step - loss: 0.4325 - accuracy: 0.8061
Epoch 10/80
250/250 [==============================] - 0s 2ms/step - loss: 0.4301 - accuracy: 0.8070
Epoch 11/80
250/250 [==============================] - 0s 2ms/step - loss: 0.4273 - accuracy: 0.8112
Epoch 12/80
250/250 [==============================] - 0s 2ms/step - loss: 0.4236 - accuracy: 0.8145
Epoch 13/80
250/250 [==============================] - 0s 2ms/step - loss: 0.4198 - accuracy: 0.8194
Epoch 14/80
250/250 [==============================] - 0s 2ms/step - loss: 0.4156 - accuracy: 0.8246
Epoch 15/80
250/250 [==============================] - 0s 2ms/step - loss: 0.4109 - accuracy: 0.8284
Epoch 16/80
250/250 [==============================] - 0s 2ms/step - loss: 0.4065 - accuracy: 0.8321
Epoch 17/80
250/250 [==============================] - 0s 2ms/step - loss: 0.4023 - accuracy: 0.8330
Epoch 18/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3980 - accuracy: 0.8344
Epoch 19/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3940 - accuracy: 0.8354
Epoch 20/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3898 - accuracy: 0.8376
Epoch 21/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3852 - accuracy: 0.8400
Epoch 22/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3809 - accuracy: 0.8420
Epoch 23/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3762 - accuracy: 0.8446
Epoch 24/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3712 - accuracy: 0.8470
Epoch 25/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3666 - accuracy: 0.8493
Epoch 26/80
250/250 [==============================] - 1s 2ms/step - loss: 0.3618 - accuracy: 0.8522
Epoch 27/80
250/250 [==============================] - 1s 2ms/step - loss: 0.3576 - accuracy: 0.8540
Epoch 28/80
250/250 [==============================] - 1s 2ms/step - loss: 0.3541 - accuracy: 0.8558
Epoch 29/80
250/250 [==============================] - 1s 2ms/step - loss: 0.3513 - accuracy: 0.8580
Epoch 30/80
250/250 [==============================] - 1s 2ms/step - loss: 0.3489 - accuracy: 0.8580
Epoch 31/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3472 - accuracy: 0.8577
Epoch 32/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3455 - accuracy: 0.8589
Epoch 33/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3442 - accuracy: 0.8586
Epoch 34/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3431 - accuracy: 0.8593
Epoch 35/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3422 - accuracy: 0.8591
Epoch 36/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3416 - accuracy: 0.8594
Epoch 37/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3409 - accuracy: 0.8595
Epoch 38/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8606
Epoch 39/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8615
Epoch 40/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3392 - accuracy: 0.8618
Epoch 41/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3392 - accuracy: 0.8609
Epoch 42/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3386 - accuracy: 0.8621
Epoch 43/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8629
Epoch 44/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3377 - accuracy: 0.8631
Epoch 45/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8626
Epoch 46/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8631
Epoch 47/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3364 - accuracy: 0.8625
Epoch 48/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3365 - accuracy: 0.8624
Epoch 49/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8624
Epoch 50/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8625
Epoch 51/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3354 - accuracy: 0.8631
Epoch 52/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8633
Epoch 53/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3353 - accuracy: 0.8634
Epoch 54/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3348 - accuracy: 0.8637
Epoch 55/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3347 - accuracy: 0.8629
Epoch 56/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8630
Epoch 57/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3345 - accuracy: 0.8621
Epoch 58/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3345 - accuracy: 0.8636
Epoch 59/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8627
Epoch 60/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3338 - accuracy: 0.8626
Epoch 61/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8635
Epoch 62/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8616
Epoch 63/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8645
Epoch 64/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8631
Epoch 65/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8630
Epoch 66/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8625
Epoch 67/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8630
Epoch 68/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8626
Epoch 69/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8622
Epoch 70/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8631
Epoch 71/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8615
Epoch 72/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8627
Epoch 73/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3327 - accuracy: 0.8639
Epoch 74/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8624
Epoch 75/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8627
Epoch 76/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8639
Epoch 77/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8636
Epoch 78/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8633
Epoch 79/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8634
Epoch 80/80
250/250 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8630

## testing

In [28]:
test_loss, test_acc = model.evaluate(x_test, y_test, verbose=1)
print('Test accuracy:', test_acc)

63/63 [==============================] - 0s 1ms/step - loss: 0.3424 - accuracy: 0.8590
Test accuracy: 0.859000027179718

## Prediction

In [29]:
pred = model.predict(x_test)

In [40]:
predictions[10], y_test[10]

(array([ True]), 0)

### Predicting a single observation

Using the model to predict if the customer with the following informations will leave the bank:

Credit Score: 600

Geography: France

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: $ 60000

Number of Products: 2

Does this customer have a credit card ? Yes

Is this customer an Active Member: Yes

In [48]:
Single_Pred = model.predict(scaler.transform([[600, 0, 1, 40, 3, 60000, 2, 1, 1]]))

if Single_Pred > 0.5:
    print("Customer would leave ")
else:
     print('Customer stays')

Customer stays

In [49]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, pred)
print(cm)
accuracy_score(y_test, pred)

[[1540   67]
 [ 215  178]]

0.859